@charset "utf-8";

body {
	background-color: #fff;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
body * {
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
p {
	margin-bottom: 1.1em;
	margin-top: 0;
}
#main p.lastNode {
	margin-bottom: 0;
}
a:link img, a:visited img {
	border: none;
}
div.clearFloat {
	clear: both;
	font-size: 0;
	height: 0;
	line-height: 0px;
}
li.clearFloat {
	clear: both;
}
ul.symbolList {
	display: inline;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.AbsWrap {
	position: relative;
	width: 100%;
}
.rowWrap {
	width: 100%;
}
.FW_700 {
	font-family: '微软雅黑', Arial, Helvetica, sans-serif;
	font-size: 1160%;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	color: #75b76b;
	line-height: 100%;
	padding-bottom: 2px;
	padding-top: 1px;
	left: 769px;
	position: absolute;
	top: 297px;
	margin-bottom: 0;
}
#task_1_6_1_r1_c1 {
	left: 0px;
	position: absolute;
	top: 0px;
	height: 1386px;
	margin-bottom: 0;
	width: 980px;
}
